name: C++ Docker CI-CD

on:
  push:
    branches: ["main", "dev"] # Thêm nhánh dev để test cho dễ
  pull_request:
    branches: ["main"]

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          # Dùng đúng tên biến này, GitHub sẽ tự bốc từ Secret qua
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./infra/Dockerfile
          push: true
          # Thay '4maths' vào đây là được vì đây là chuỗi text thông thường
          tags: 4maths/coursera-lite:latest
